<div class="ui grid">
	<div class="doubling three column row">
		<div class="column" ng-repeat="i in [1,2,3,4,5,6, 7]">
			<div class="ui card">
				<div class="content">
					<div class="header">Cute Dog</div>
					<div class="meta">
						<span class="right floated time">2 days ago</span>
						<span class="category">Animals</span>
					</div>
					<div class="description">
						Here's a description of a cute dog.
					</div>
				</div>
				<div class="extra content">
					<span class="-pointer" ng-init="show = false" ng-click="show = !show">
						<i class="comment icon"></i>
					</span>
					<span class="-pointer">
						<i class="user icon"></i>
					</span>
					<span class="-pointer">
						<i class="write icon"></i>
					</span>
					<div class="right floated author">
						<img class="ui avatar image" src="http://fc03.deviantart.net/fs71/i/2013/231/1/1/behind_the_mask__darth_vader_by_thefreaksworld-d6ivm0b.jpg"> Matt (10)
					</div>
				</div>
				<div style="border-top: 2px solid #3b83c0; padding: 1em;" ng-show="show">
					<p>Тут должна быть обрезанная версия последнего отзыва...</p>
				</div>
			</div>
		</div>
	</div>
</div>
