<div class="ui feed">
	<div class="event">
		<div class="label">
			<img src="./libs/semantic-ui/examples/images/cat.png">
		</div>
		<div class="content">
			<div class="date">
				3 days ago
			</div>
			<div class="summary">
				You added <a>Jenny Hess</a> to your <a>coworker</a> group.
			</div>
		</div>
	</div>
	<div class="event">
		<div class="label">
			<img src="./libs/semantic-ui/examples/images/cat.png">
		</div>
		<div class="content">
			<div class="summary">
				<a class="user">
					Elliot Fu
				</a> added you as a friend
				<div class="date">
					1 Hour Ago
				</div>
			</div>
			<div class="meta">
				<a class="like">
					<i class="like icon"></i> 4 Likes
				</a>
			</div>
		</div>
	</div>
</div>
