<div>
	<div class="b-sub-info">
		<div class="b-left">{{user.name}}</div>
		<div class="b-right">{{user.info.feedbackCount}} отзывов</div>
	</div>
	<div class="container">
		<div class="ui grid">
			<div class="five wide column">
				<img class="b-user-ava"
					 ng-src="{{user.image.url}}"
					 alt=""/>
			</div>
			<div class="eleven wide column">
				<div class="b-user-info">
					<div class="b-user-info-header">
						<a class="b-user-info-user-name" ng-href="#/people/{{user._id}}">{{user.name}} <i ng-class="user.gender == 0 ? 'male' : 'female'" class="icon"></i></a>
					</div>
					<div class="b-user-info-description" ng-bind-html="user.info.bio">
					</div>
					<div class="b-user-info-statistic">
						<div>
							<div class="-text-right">
								<i class="edit icon"></i>
								<i class="bomb icon"></i>
								<i class="asterisk icon"></i>
								<i class="hide icon"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
