@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic-ext);

body {
	font-family: 'Open Sans', sans-serif, Tahoma, Geneva, sans-serif, arial, verdana; /*, 'Open Sans', sans-serif;*/
	background: #f0f2f5;
	font-weight: 300;
	color: rgba(0,0,0,.5);
	font-size: 13px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.-border-boxed *, .-border-boxed *:before, .-border-boxed *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.b-container {
	width: 1000px;
	margin: 0 auto;
}

.b-header {
	padding: 10px 0 10px 0;
	background: #567ca4;
	color: #fff;
}

.b-header * {
	font-weight: 300;
	color: #fff;
}

.b-main {
	padding: 20px 0;
}

.container {
	background-color: #FFFFFF;
	margin: 0em auto;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: .95em;
	z-index: 1;
}

.b-sub-info {
	background-color: #E9EDF1;
	margin: 0em auto;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	padding: 10px;
	z-index: 1;
	overflow: hidden;
}

.b-row {
	overflow: hidden;
}

.b-left {
	float: left;
}

.b-right {
	float: right;;
}

.b-user-ava {
	width: 200px;
}

.b-user-info {
}

.b-user-info-header {
	padding: 10px 15px 0 15px;
	/*background: #f7f8fa;*/
}

.b-user-info-description {
	color: rgba(0,0,0,.5);
	font-size: 13px;
	padding: 10px 15px;
}

.b-user-info-description p {
	margin: 0 0 10px 0;
}

.b-user-info-description p:last-child {
	margin: 0;
}

.b-user-info-user-name {
	font-size: 15px;
	display: block;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(0,0,0,.05);
}

.b-user-info-statistic {
	margin: 10px 0 0 0;
	padding: 0 15px;
}

.b-user-info-statistic > div {
	border-top: 1px solid rgba(0,0,0,.05);
	padding: 10px 0;
}

.-text-right {
	text-align: right;
}

.-pointer {
	cursor: pointer;
}

/*Fixes*/
.b-header .ui.secondary.pointing.menu {
	border: none;
}

.b-header .ui.secondary.pointing.menu>.item.active, .b-header .ui.secondary.pointing.menu>.menu>.item.active, .b-header .ui.secondary.pointing.menu>.item, .b-header .ui.secondary.pointing.menu>.menu>.item {
	color: #fff;
	border: rgba(255, 255, 255, 0.5);
	font-size: 13px;
}

.b-header .ui.secondary.pointing.menu>.link.item:hover, .b-header .ui.secondary.pointing.menu>.menu>.link.item:hover, .b-header .ui.secondary.pointing.menu>.menu>a.item:hover, .b-header .ui.secondary.pointing.menu>a.item:hover {
	color: #fff;
	font-size: 13px;
}

.b-header .ui.input input, .b-header .ui.input input::-webkit-input-placeholder {
	color: #fff;
	font-size: 13px;
}

.ui.menu .header.item, .ui.vertical.menu .header.item {
	background: #f7f8fa;
	font-size: 13px;
}

.ui.menu {
	border-radius: 0;
}

.ui.vertical.menu .item {
	color: rgba(0,0,0,.5);
	font-size: 13px;
}

.ui.vertical.menu .item.header {
	color: #000;
	font-weight: normal;
	font-size: 13px;
}

.ui.card, .ui.cards>.card {
	border-radius: 0;
}

.ui.card {
	margin-bottom: 30px !important;
	font-size: 13px;
}

.ui.card>.content, .ui.cards>.card>.content {
	font-size: 13px;
}
